.App-header {
    background-color: #edeff1;
    display: flex;
  }
  
  .App-root {
    flex-grow: 1;
    .App-bar {
      background-color: #6a75b2;
    }
  }
  .App-menuButton {
    margin-right: 0.5rem;
  }
  .App-title {
    flex-grow: 1;
  }